<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yk.dao.GoodsDao" >
  <resultMap id="BaseResultMap" type="com.yk.pojo.GoodsVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    <result column="stock_count" property="stockCount" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="miaosha_price" property="miaoshaPrice" jdbcType="DECIMAL" />

  </resultMap>

  <select id="getGoodsVoList" resultMap="BaseResultMap"  >
    SELECT	g.*, mg.stock_count AS stock_count ,mg.start_date,mg.end_date,mg.miaosha_price
    FROM	miaosha_goods mg
    LEFT JOIN goods g
    ON mg.goods_id = g.id
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT	g.*, mg.stock_count AS stock_count ,mg.start_date,mg.end_date,mg.miaosha_price
    FROM	miaosha_goods mg
    LEFT JOIN goods g
    ON mg.goods_id = g.id
    where g.id = #{id,jdbcType=BIGINT}
  </select>
  
  <update id="reduceStock" >
    u



  </update>





</mapper>